<h1>Atualiza seu livro</h1>
<form action="/books/updatebook" method="post">

    <div class="form-control">
        <input type="hidden" name="id" value="{{book.id}}">
        <label for="title">Título</label>
        <input type="text" name="title" value="{{book.title}}">
    </div>

    <div class="form-control">
        <label for="nm_paginas">Quantidade de Páginas</label>
        <input type="text" name="nm_paginas" value="{{book.nm_paginas}}" >
    </div>

    <div class="form-control-2">
      <input type="submit" value="Atualizar">
    </div>
</form>