<h1>Cadastre seu livro</h1>
<form action="/books/insertbook" method="post">

    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite o Titulo Do Livro ">
    </div>

    <div class="form-control">
        <label for="nm_paginas">Quantidade de Páginas</label>
        <input type="text" name="nm_paginas" placeholder="Digite a Página ">
    </div>

    <div class="form-control-2">
      <input type="submit" value="Cadastrar">
    </div>
</form>